
#form {
  display:grid;
justify-content: center;
  align-items: center;
  border-style: double;
  margin: 40px;
  width: 70%;
  padding: 10px;
}

#form h1 {
  padding-left: 50px;
}

#form div {
padding: 18px;
justify-content: center;
}

.btn-submit {
  padding-left: 30px;
}
